  
apiVersion: batch/v1
kind: Job
metadata:
  name: create-db-job
  namespace: default
spec:
  template:
    spec:
      containers:
      - name: psql
        image: postgres:15
        command: ["sh", "-c"]
        args:
        - export PGPASSWORD="$DB_PASSWORD" && psql -h "$DB_HOST" -U "$DB_USER" -d "$DB_NAME" -f /sql/create-db.sql
        env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: billingservice-db-secret
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: billingservice-db-secret
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: billingservice-db-secret
              key: DB_PASSWORD
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: billingservice-db-secret
              key: DB_NAME
        volumeMounts:
        - name: sql-script
          mountPath: /sql
      restartPolicy: Never
      volumes:
      - name: sql-script
        configMap:
          name: create-db-sql
  backoffLimit: 1
